@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius: 0.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.424 0.199 265.638);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.375rem;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    letter-spacing: var(--tracking-normal);
    @apply bg-background text-foreground;
  }
  .typography {
    max-width: 65ch;
    color: var(--color-foreground);
  }
  .typography h1:not(.not-typography h1) {
    font-size: var(--text-4xl);
    font-weight: 800;
    line-height: var(--text-4xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .typography h2:not(.not-typography h2) {
    padding-bottom: calc(var(--spacing) * 2);
    margin-top: calc(var(--spacing) * 12);
    font-size: var(--text-3xl);
    font-weight: 600;
    line-height: var(--text-3xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    border-bottom: 1px solid var(--color-border);
  }
  .typography h2:not(.not-typography h2):first-child {
    margin-top: 0;
  }
  .typography h3:not(.not-typography h3) {
    margin-top: calc(var(--spacing) * 12);
    font-size: var(--text-2xl);
    font-weight: 600;
    line-height: var(--text-2xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .typography h3:not(.not-typography h3):first-child {
    margin-top: 0;
  }
  .typography h4:not(.not-typography h4) {
    margin-top: calc(var(--spacing) * 12);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: var(--text-xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .typography h4:not(.not-typography h4):first-child {
    margin-top: 0;
  }
  .typography h5:not(.not-typography h5) {
    margin-top: calc(var(--spacing) * 12);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .typography h5:not(.not-typography h5):first-child {
    margin-top: 0;
  }
  .typography h6:not(.not-typography h6) {
    margin-top: calc(var(--spacing) * 12);
    font-size: var(--text-base);
    font-weight: 600;
    line-height: var(--text-base--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .typography h6:not(.not-typography h6):first-child {
    margin-top: 0;
  }
  .typography h1:not(.not-typography h1) + p,
  .typography h2:not(.not-typography h2) + p,
  .typography h3:not(.not-typography h3) + p,
  .typography h4:not(.not-typography h4) + p,
  .typography h5:not(.not-typography h5) + p,
  .typography h6:not(.not-typography h6) + p {
    margin-top: 0;
  }
  .typography p:not(.not-typography p) {
    line-height: 1.75;
  }
  .typography p:not(.not-typography p):not(:first-child) {
    margin-top: calc(var(--spacing) * 6);
  }
  .typography li:not(.not-typography li) {
    line-height: 1.75;
  }
  .typography a:not(.not-typography a) {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: var(--spacing);
  }
  .typography blockquote:not(.not-typography blockquote) {
    padding-left: calc(var(--spacing) * 6);
    margin-top: calc(var(--spacing) * 6);
    font-style: italic;
    border-left: 2px solid var(--color-border);
  }
  .typography table:not(.not-typography table) {
    width: 100%;
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    overflow-y: auto;
  }
  .typography table:not(.not-typography table) thead tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-border);
  }
  .typography table:not(.not-typography table) thead tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  .typography table:not(.not-typography table) th {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    font-weight: 700;
    text-align: left;
    border: 1px solid var(--color-border);
  }
  .typography table:not(.not-typography table) th[align="center"] {
    text-align: center;
  }
  .typography table:not(.not-typography table) th[align="right"] {
    text-align: right;
  }
  .typography table:not(.not-typography table) tbody tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-border);
  }
  .typography table:not(.not-typography table) tbody tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  .typography table:not(.not-typography table) td {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
    border: 1px solid var(--color-border);
  }
  .typography table:not(.not-typography table) td[align="center"] {
    text-align: center;
  }
  .typography table:not(.not-typography table) td[align="right"] {
    text-align: right;
  }
  .typography ul:not(.not-typography ul) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: disc;
  }
  .typography ul:not(.not-typography ul) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  .typography ul:not(.not-typography ul) p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
  .typography ol:not(.not-typography ol) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: decimal;
  }
  .typography ol:not(.not-typography ol) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  .typography ol:not(.not-typography ol) p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
  .typography pre:not(.not-typography pre) {
    padding: calc(var(--spacing) * 4);
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    overflow-y: auto;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
  }
  .typography code:not(pre code):not(.not-typography code) {
    position: relative;
    padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    font-weight: 600;
    line-height: var(--text-sm--line-height);
    background-color: var(--color-muted);
    border-radius: var(--radius);
  }
  .typography .lead:not(.not-typography .lead) {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    color: var(--color-muted-foreground);
  }
  .typography .large:not(.not-typography .large) {
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
  }
  .typography .small:not(.not-typography .small) {
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: 1;
  }
  .typography .muted:not(.not-typography .muted) {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--color-muted-foreground);
  }
  .typography img:not(.not-typography img),
  .typography picture:not(.not-typography picture),
  .typography video:not(.not-typography video) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .typography picture > img:not(.not-typography picture > img) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .typography kbd:not(.not-typography kbd) {
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    font-weight: 600;
    line-height: var(--text-xs--line-height);
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
  }
  .typography hr {
    margin-top: calc(var(--spacing) * 10);
    margin-bottom: calc(var(--spacing) * 10);
  }
  .typography dl:not(.not-typography dl) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .typography dl:not(.not-typography dl) dt {
    margin-top: calc(var(--spacing) * 6);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
  }
  .typography dl:not(.not-typography dl) dt:first-child {
    margin-top: 0;
  }
  .typography details:not(.not-typography details) {
    margin-top: calc(var(--spacing) * 6);
  }
  .typography details:not(.not-typography details) summary {
    margin-top: calc(var(--spacing) * 6);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    cursor: pointer;
  }
  .typography details:not(.not-typography details) p:first-of-type {
    margin-top: calc(var(--spacing) * 2);
  }
  .typography mark:not(.not-typography mark) {
    background-color: var(--color-yellow-300);
  }
  .typography small:not(.not-typography small) {
    font-size: var(--text-xs);
    line-height: 1;
  }

  @media (min-width: 1024px) {
    .typography h1:not(.not-typography h1) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }
  }
  html {
    @apply font-sans;
  }
}
